* {
    margin: 0px;
    padding: 0px;
   /* background-color: var(--background-color); */
    --primary-color: #f1f1f1;
    --secondary-color: #e24242;
    /*--accent-color: #2e2e30; */
    --accent-color: #acacb5;
    --background-color: #19191a;  
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: #19191a; 
}

#intro-content {
    display: grid;
    place-self: center;
    color: var(--primary-color);
    font-size: x-large;
    white-space: pre-wrap;
    width: 400px;
    height: 250px;
    grid-template-rows: 65% 25%;
}

#intro-content #intro-hello {
    position: absolute;
    place-self: center;
}

#intro-run-script {
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    width: fit-content;
    font-size: medium ;
    place-self: end;
    cursor: pointer;
    padding: 15px;
}

#intro-hello {
    position: absolute;
    place-self: center;
    font-family: Lucida Bright, Georgia, serif;
    color: var(--primary-color);
    font-size: 20vh;
    background: none;
    box-shadow: 0rem 0rem 0rem var(--background-color);
    height: min-content;
    /*! justify-self: center; */
}

#intro-footer {
    height: min-content;
    bottom: 3%;
    position: absolute;
    color: var(--accent-color);
    opacity: 55%;
    font-family: Consolas, monaco, monospace;
    font-size: medium;
    place-self: center;
}

#skip-intro {
    position: absolute;
    bottom: 24px;
    right: 35px;
    color: var(--secondary-color);
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 6px;
}

#enter-site {
    place-self: center;
    font-size: 8vh;
    background-color: var(--secondary-color);
    width: 40vw;
    text-align: center;
    height: 9vh;
    cursor: pointer;
}

#master-container {
    display: grid;
    grid-template-rows: 3fr 0fr 3fr 0fr 6fr auto;
    height: 100vh;
    position: absolute;
    background-color: aliceblue;
    top: 6vh;
    left: 7vw;
    width: 86vw;
    right: 7vw;
    background-color: var(--background-color);
}

#top-nav-container #left-container {
    display: grid;
    grid-template-columns: 1;
    place-content: center;
}


#about-me-text {
    color: var(--primary-color);
    font-size: medium;
    height: 100%;
}

#emphasis-text {
    font-size: xx-large;
    color: var(--secondary-color)
}

#emphasis-text2 {
    font-size: 10vh;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    color: var(--primary-color);
}

.blank-div {
    background-color: var(--background-color);
}

#top-nav-container {
    display: grid;
    box-shadow: 2px 115px 0px 1px var(--secondary-color);
    background-color: #1b1b1e;
    grid-template-columns: 7fr 3fr;
    padding-top: 3vh;
}

#top-nav-container #right-container {
    display: grid;
    /*! grid-template-rows: 4fr 1fr; */
    grid-template-columns: 1fr 5fr;
}

#socials-area {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    place-content: center;
}

#language-contact-container {
    display: grid;
    box-shadow: -2px 65px 0px 1px var(--secondary-color);
    background-color: #1b1b1e;
    height: 13vh;
}

#projects-container {
    display: grid;
    box-shadow: 2px 65px 0px 1px var(--secondary-color);
    background-color: #1b1b1e;
}

#avatar {
    height: 33vh;
}

#avatar-area {
    display: grid;
    place-content: center;
    width: fit-content;
}

#socials-area {
    display: grid;
    place-items: center;
}

.socials-avatar {
    place-content: center;
}

#projects-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding-top: 31px;
    padding-left: 43px;
    padding-right: 43px;
}

#projects-title-div {
    display: grid;
    place-content: center;
}

#projects-title {
    color: var(--primary-color);
    font-size: 8vh;
}

#projects-display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-containers {
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 41vh;
    margin-right: 30px;
}

.projects {
    display: grid;
}

.project-thumbs {
    height: 32vh;
    place-self: center;
}