* {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    --primary-color: #f1f1f1;
    --secondary-color: #e24242;
    /*--accent-color: #2e2e30; */
    --accent-color: #acacb5;
    --background-color: #19191a; 
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
}

#intro-content {
    display: grid;
    place-self: center;
    color: var(--primary-color);
    font-size: x-large;
    white-space: pre-wrap;
    width: 400px;
    height: 250px;
    grid-template-rows: 65% 25%;
}

#intro-content #intro-hello {
    position: absolute;
    place-self: center;
}

#intro-run-script {
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    width: fit-content;
    font-size: medium ;
    place-self: end;
    cursor: pointer;
    padding: 15px;
}

#intro-hello {
    position: absolute;
    place-self: center;
    font-family: Lucida Bright, Georgia, serif;
    color: var(--primary-color);
    font-size: 20vh;
    background: none;
    box-shadow: 0rem 0rem 0rem var(--background-color);
    height: min-content;
    /*! justify-self: center; */
}

#intro-footer {
    height: min-content;
    bottom: 3%;
    position: absolute;
    color: var(--accent-color);
    opacity: 55%;
    font-family: Consolas, monaco, monospace;
    font-size: medium;
    place-self: center;
}

#skip-intro {
    position: absolute;
    bottom: 24px;
    right: 35px;
    color: var(--secondary-color);
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 6px;
}

#enter-site {
    place-self: center;
    font-size: 8vh;
    background-color: var(--secondary-color);
    width: 40vw;
    text-align: center;
    height: 9vh;
    cursor: pointer;
}